body{
    background-color: #EAE7DC;
}

nav{
    padding: 2% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    font-size: 3vh;
}

.pilt{
    float: left;
    padding-left: 6%;
    padding-top: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    width: 550px;
}

.bottombar {
    background-color: #D8C3A5;
    background-size: 100% 100%;
    text-align: right;
    padding: 1% 1%;
    font-size: 1.5vh;
}

a {
    color: inherit;
    color: #605f5d;
    text-decoration: none;
    font-size: 2.5vh;
    margin-right: 10px;
}