body{
    font-family: 'Alexandria', sans-serif;
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(80, 85, 85, 0.85),rgba(80,85,85,0.85)),url(../Pildid/background1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
nav{
    padding: 2% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
nav a{
    font-size: 3vh;
}
.links{
    text-align: center;
}
.links ul li{
    display:inline-block;
    list-style: none;
    margin: 5vh;
}
.links ul li a{
    font-size: 7vh;
    color: azure;
    text-decoration: none;
}
.links ul li::after{
    content: " ";
    width: 0%;
    height: 0.6vh;
    background: rgb(209, 136, 136);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.links ul li:hover::after{ 
    width: 100%;
}
.text {
    margin-top: 30vh;
    color: azure;
    text-align: center;
}
.header{
    text-align: center;
    overflow: auto;
    height: 100vh;
}
.text h1{
    font-size: 6vh;
}

*{
    color: azure;
}

