*{
    margin: 0;                                              /* Pmst valge - #EAE7DC */
    padding: 0;                                                /* Beež - #D8C3A5 */
}                                                            /* Hallikas - #8E8D8A */
body{                                                       /* Helepunane - #E98074 */
    font-family: 'Alexandria', sans-serif;                    /* Punane - #E85A4F */
}
.text{
    padding-top: 1%;
}
.text h1{
    padding-left: 6%;
    padding-right: 6%;
    color: #E85A4F;
    font-size: 4.5vh;
    text-decoration-line: underline;
    text-decoration-thickness: 0.8vh;
    text-decoration-color: #E98074;
    padding-top: 2%;
    
}
.text p{
    padding: 2% 6%;
    padding-bottom: 4%;
    
    font-size: 2.5vh;
    text-align: justify;
    line-height: 5vh;
}
.right{
    text-align: right;
    background-color: #D8C3A5;
    color: #605f5d;
}

.left {
    color: #8E8D8A;
}

body{
    background-color: #EAE7DC;
}
